RapidminerRepo
*.csv
ontologymatcher/target
ontologymatcher/.idea
ontologymatcher/project/
tudarmstadtmatcher

*.log

ontologymatcher/runtime.log

ontologymatcher/project/target
ontologymatcher/test.rmp
