ontologymatcher/target
ontologymatcher/.idea
ontologymatcher/project/
*.log
ontologymatcher/tmp

ontologymatcher/thesisexperiments/outliereval

ontologymatcher/project/target

ontologymatcher/matching_matcher_result.csv

ontologymatcher/meta_matcher_result.csv

ontologymatcher/test_rapidminer.log.3

ontologymatcher/test_rapidminer.log.1

ontologymatcher/test_rapidminer.log.2
